<div class="card mt-2" style="width: 100vh">
  <div class="card-header">
    detalles de la Venta
  </div>
  <div class="card-body">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <p class="text-uppercase">No.# : {{venta.idVenta}}</p>
      </li>
      <li class="list-group-item">
        <p class="text-uppercase"> Tipo Comprobante : {{venta.tipoComprobante}}</p>
      </li>
      <li class="list-group-item">
        <p class="text-uppercase"> Numero Comprobante: {{venta.numeroComprobante}}</p>
      </li>
      <li class="list-group-item">
        <p class="text-uppercase">Fecha de Inicio : {{venta.fechaInicio}}</p>
     </li>
      <li class="list-group-item">
        <p class="text-uppercase">Fecha de Entrega : {{venta.fechaEntrega}}</p>
      </li>
      <li class="list-group-item">
        <p class="text-uppercase"> Impuesto : {{venta.total}} </p>
      </li>

    </ul>
  </div>
  <div class="btn-group" role="group">
    <button class="btn btn-outline-warning btn-sm m-1" (click)= "toEditarventa()">Editar</button>

  </div>
</div>
<br>
<button class="btn btn-primary btn-sm m-1" (click)= "toList()">Volver a la lista</button>



